name: Smoke Tests - PR

on:
    pull_request:
        branches: [ main ]

jobs:
    RunTest:
        runs-on: ubuntu-latest

        steps:
            - name: Clonar o projeto
              uses: actions/checkout@v4

            - name: Instalar Java 21
              uses: actions/setup-java@v4
              with:
                java-version: '21'
                distribution: 'adopt'
                cache: 'maven'

            - name: Executar testes
              env:
                is_pipeline: true
              run: mvn test -Dtest=Runner -Dbrowser=firefox -Dheadless=true -Dtags=@login

            - name: Gerar relat칩rio
              if: always()
              run: mvn cluecumber-report:reporting

            - name: Arquivar relat칩rio
              if: always()
              uses: actions/upload-artifact@v4
              with:
                name: report-smoke-tests-pr
                path: '**/reports/'

            - name: Enviar notifica칞칚o Slack - Sucesso
              if: ${{ success() }}
              uses: rtCamp/action-slack-notify@v2
              env:
                SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
                SLACK_COLOR: ${{ job.status }}
                SLACK_ICON: https://cdn-icons-png.flaticon.com/512/16104/16104958.png?size=48
                SLACK_TITLE: 'Sucesso na execu칞칚o do Smoke Tests - PR! :white_check_mark:'
                SLACK_MESSAGE: |
                  Relat칩rio da automa칞칚o gerado! 游
                  Baixe o relat칩rio aqui:
                  [Download do Relat칩rio](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/artifacts)
                SLACK_USERNAME: Bot_Sucesso

            - name: Enviar notifica칞칚o Slack - Falha
              if: ${{ failure() }}
              uses: rtCamp/action-slack-notify@v2
              env:
                SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
                SLACK_COLOR: ${{ job.status }}
                SLACK_ICON: https://cdn-icons-png.flaticon.com/512/1828/1828843.png?size=48
                SLACK_MESSAGE: 'Erro na execu칞칚o do Smoke Tests - PR! :fire:'
                SLACK_TITLE: 'Erro na execu칞칚o do Smoke Tests - PR! :x:'
                SLACK_USERNAME: Bot_Falha